body{
    background-color: lightblue;
}

.title{
    font-size: xx-large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}

.infobox{
    width: 200px;
    height: 200px;
    line-height: 200px;
    background-color: #2458ab;
    border: 2px solid black;
    display: inline-block;
    color: white;
    text-align: center;
    font-size: large;
}

.infobox:hover{
    background-color: aliceblue;
    color: black;
}